:root {
  --primary:  #ff00b1;
  --primarytext: #ffff00;
  --background: #ffff00;
  --foreground: var(--primarytext);
  --secondary: #0000ff;
  --secondarytext: var(--background);
  --pre1: var(--primary);
  --loginfields: var(--secondary);
  --menu: var(--secondary);
  --menuhover: var(--primary);
  --menuhovertext: var(--background);
  --headerheight: 13vh;
  --hheight: 17vh;
}
/*:root {
  --primary:  #ff00ff;
  --primarytext: #729fcf;
  --background: #729fcf;
  --foreground: var(--primarytext);
  --secondary: #ad7fa8;
  --secondarytext: #729fcf;
  --pre1: #33cca6;
  --loginfields: #33cca6;
  --logincolor: #f0f0f0;
  --menu: #4a4a4a;
  --menuhover: #6a6a6a;
  --menuhovertext: #fff;
  --headerheight: 13vh;
  --hheight: calc(var(--headerheight) + 4vh);
}*/

* {
  padding: 0;
  margin: 0;
  font-size: 100%;
}

input[type=text],
input[type=password],
input[type=number],
input[type=button],
input[type=submit],
textarea{
  background-color: var(--secondary);
  color: var(--secondarytext);
  font-weight: 700;
  margin: .5em 0 .5em 0;
  padding: .2em 1.5vw .2em 1.5vw;
  width: 82vw;
  border: 0 none;
}
input[type=text],
input[type=password],
input[type=number],
textarea{
  border-bottom: .01em solid var(--pre1);
}
textarea{
  min-height: 5em;
  max-height: 30vh;
  resize: none;
}
input[type=submit],
input[type=button]{
  min-width:10em;
  width: 85vw;
  cursor: pointer;
  background-color: var(--pre1);
}
#lname,
#lpass,
#neu_pass,
#pass_wdh,
#alt_pass{
  border-bottom: .01em solid var(--loginfields);
  background-color: var(--logincolor);
}
#anmelden{
  background-color: var(--loginfields);
}
#loginform,
#userform{
  position: relative;
  top: auto;
  margin-top: var(--hheight);
}
#loginform{
  background-color: var(--logincolor);
}
body {
  background-color: var(--background);
  color: var(--foreground);
}

footer {
  background-color: var(--primary);
  color: var(--primarytext);
  padding:1vw;
  position: fixed;
  bottom: 0px;
  width:94vw;
  text-align:center;
  margin: 0 2vw 0 2vw;
}

header {
  background-color: var(--primary);
  color: var(--primarytext);
  font-family: sans-serif;
  font-weight: 600;
  position: fixed;
  top: 0px;
  font-size: 10vmin;
  min-height: 10vmin;
  width: 100%;
  left: 0px;
  height: var(--headerheight);
  padding: 1vh 0vw 1vh 0vw;
  text-align: center;
  z-index: 1000;
}

articles{
  margin: 0 4vw 0 4vw;
  width:92vw;
  zindex:1;
}
article {
  background-color: var(--primary);
  color: var(--primarytext);
  position: relative;
  font-size: 1.7em;
  width:92vw;
  padding:2vw;
  margin: 0 2vw 1vh 2vw;
  -webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}

article:hover {
	/*margin-left: -1vw;*/
	box-shadow: 0.5vw 0.5vw 30px grey;
	background-color: var(--primary);
	-webkit-transform: scale(1.03);
	-moz-transform: scale(1.03);
	-ms-transform: scale(1.03);
	-o-transform: scale(1.03);
	transform: scale(1.03);
}

article h1 {
  font-family: sans-serif;
  font-size: 1.7em;
}

article nav {
  font-style: italic;
  font-size: 0.7em;
}

a {
  color: var(--background);
  text-decoration: none;
}

menu {
  background-color: var(--menu);
  color: var(--menutext);
  width:95.4vw;
  padding:.3vw;
  margin: var(--hheight) 2vw 0 2vw;
  list-style-type: none;
}

menu ul {
  padding: 0px;
  margin: .3em;
}

menu li a:link {
  display: block;
  cursor: pointer;
  background-color: var(--menu);
  padding: .5em;
  color: var(--menutext);
  list-style-type: none;
  text-decoration: none;
  font-weight: bold;
  -webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}

menu li a:hover {
  display: block;
  background-color: var(--menuhover);
  color: var(--menuhovertext);
  padding-left:2vw;
}

#kommentieren, #kommentar {
  background-color: var(--secondary);
  color: var(--secondarytext);
  margin: 1vw;
  font-size: 20px;
  padding: 2vw;
  width:86vw;
}

#kommentieren textarea {
  width: 82vw;
  height: 5vh;;
}

@media screen and (min-width: 980px) and (orientation: landscape){

  input[type=text],
  input[type=password],
  input[type=number],
  input[type=button],
  input[type=submit],
  textarea{
  width: 47vw;
  }
  input[type=submit],
  input[type=button]{
  width: 20vmin;
  }
  #loginform,
  #userform{
  margin: var(--hheight) 20vw 1.3em 20vw;
  }
  article {
  width:56vw;
  padding:2vw;
  margin: 0  0vw 1vh 0vw;
  }
  articles {
  position: absolute;
  left: 16vw;
  width:60vw;
  position: absolute;
  top: var(--hheight);
  }
  #kommentieren, #kommentar {
  width:50vw;
  }

  #kommentieren textarea {
  width: 47vw;
  height: 5vh;;
  }
  menu {
  top: var(--hheight);
  position: absolute;
  width:16vw;
  min-width: 13vw;
  margin: 0 2vw 2vh 2vw;
  padding: 0px;
  }

  menu ul {
  padding: 0px;
  margin: 5px;
  }

  menu li a:link {
  border: 1px solid var(--background);
  background-color: var(--menu);
  }
  header{
  position: absolute;
  }
  footer {
  width:14vw;
  }
}
