body {
	background-color: #ffff00;
	color: #00ff00;
}

footer {
	background-color: #ff00b1;
	color: #ffff00;
	position: fixed;
	bottom: 0px;
}

header {
	background-color: #ff00b1;
	color: #ffff00;
	position: absolute;
	top: 0px;
	font-size: 80px;
	width: 100%;
	left: 0px;
	height: 100px;
	top: 0px;
	padding: 20px;
	text-align: center;
}

article {
	background-color: #ff00b1;
	color: #ffff00;
	position: relative;
	font-size: 25px;
	left : 50%;
	top: 150px;
	padding: 20px;
	left: 50%;
	width: 60%;
	margin-left: -30%;
}

article h1 {
	font-size: 35px;
}

article nav {
	font-style: italic;
	font-size: 12px;
}

a {
	color: #0000ff;
	text-decoration: none;
}

#kommentieren, #kommentar {
	background-color: #0000ff;
	margin: 20px;
	font-size: 20px;
	padding: 15px;
}

#kommentieren textarea {
	width: 80%;
	height: 80px;
}