

* {
  padding: 0;
  margin: 0;
  font-size: 100%;
  font-family: sans-serif;
}
a {
  color: var(--link-color);
  text-decoration: none;
}
textarea{
  resize: vertical;
}

body{
  background-color: var(--body-background-color);
  color: var(--body-color)
}

header,
menu,
article,
#kommentar {
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.5);
}
menu,
article,
#kommentar {
  border-radius: 4px;
}


header {
  position: fixed;
  top:0;
  background-color: var(--header-background-color);
  color: var(--header-color);
  font-weight: 600;
  height: var(--header-height);
  width: 100vw;
  font-size: var(--header-font-size);
  min-height: 10vmin;
  text-align: center;
  -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
  z-index: 1000;
}
header a{
  color: inherit;
}


menu {
  background-color: var(--menu-background-color);
  color: var(--menu-color);
  font-size: 130%;
  font-weight: 600;
  padding: 2vh 2vw;
  width: calc(var(--element-width) - 4vw);
  margin: calc(var(--header-height) + 1.5vh) 2vw 2vh 2vw;
}

menu menuitem ul li{
  background-color: var(--menuitem-background-color);
  color: var(--menuitem-color);
  list-style-type: none;

}
menu menuitem ul li a {
  display: block;
  background-color: var(--menuitem-background-color);
  color: var(--menuitem-color);
  padding: 1.6vh 2vw;
  height: calc(100% - 3.2vh);
  width: calc(100% - 4vw);
}
menu menuitem ul li:hover{
  filter: brightness(85%);
  cursor: pointer;
}

all-articles {
  --margin: calc(calc(100vw - var(--element-width)) / 2 );
  background-color: var(--all-articles-background-color);
  color: var(--all-articles-color);
  width: var(--element-width);
  margin: 0 var(--margin) 3vh var(--margin);
}
#kommentar,
article {
  --margin: calc(calc(100vw - var(--element-width)) / 2 );
  background-color: var(--article-background-color);
  color: var(--article-color);
  margin: 0 var(--margin) 2vh var(--margin);
  padding: 2vh 2vw 2vh 2vw;
  font-size: 110%;
  width: calc(var(--element-width) - 4vw);
}
article h1 {
  font-size: 140%;
}

article nav {
  color: var(--article-nav-color);
  font-style: italic;
  font-size: 70%;
}
article a {
  color: var(--link-color);
  text-decoration: none;
}
#kommentieren{
  background-color: var(--comment-background-color);
  padding: .3em 0;
}
#kommentieren input,
#kommentieren textarea{
  background-color: var(--comment-background-color);
  color: var(--comment-color);
  border: 0 none;
  border-bottom: .01em solid var(--comment-accent-color);
  font-weight: 500;
  margin: .5em 0 .5em 0;
  padding: .6em 0 .6em 0;
  width: 100%;
}
#kommentieren input[type=submit]{
  background-color: var(--comment-accent-color);
  color: var(--comment-submit-color);
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}
#deleteform form a:hover,
#newform form input[type=submit]:hover,
#userform p input[type=submit]:hover,
#loginform p input[type=submit]:hover,
#kommentieren input[type=submit]:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
  filter: brightness(85%);
  cursor: pointer;
}
#kommentar {
  background-color: var(--comment-background-color);
  color: var(--comment-color);
}
#kommentar nav {
  color: var(--comment-nav-color);
  font-style: italic;
  font-size: 80%;
}
#kommentieren,
#loginform,
#userform,
#newform{
  font-size: 80%;
}
#loginform {
  --margin: calc(calc(100vw - var(--element-width)) / 2 );
  margin: calc(var(--header-height) + 1.5vh) var(--margin) 2vh var(--margin);
  background-color: var(--login-background-color);
  color: var(--login-color);
}
#loginform p input{
  background-color: var(--login-background-color);
  color: var(--login-color);
  border: 0 none;
  border-bottom: .01em solid var(--login-accent-color);
  font-weight: 600;
  margin: .5em 0 .5em 0;
  padding: .6em 0 .6em 0;
  width: 100%;
}#loginform p input[type=submit]{
  background-color: var(--login-accent-color);
  color: var(--login-submit-color);
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}
#userform {
  --margin: calc(calc(100vw - var(--element-width)) / 2 );
  margin: calc(var(--header-height) + 1.5vh) var(--margin) 2vh var(--margin);
  background-color: var(--user-background-color);
  color: var(--user-color);
}
#userform p input{
  background-color: var(--user-background-color);
  color: var(--user-color);
  border: 0 none;
  border-bottom: .01em solid var(--user-accent-color);
  font-weight: 500;
  margin: .5em 0 .5em 0;
  padding: .6em 0 .6em 0;
  width: 100%;
}#userform p input[type=submit]{
  background-color: var(--user-accent-color);
  color: var(--user-submit-color);
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}
#newform {
  --margin: calc(calc(100vw - var(--element-width)) / 2 );
  margin: 0 0 2vh 0;
  background-color: var(--new-background-color);
  color: var(--new-color);
}
#newform form h1 input,
#newform form input,
#newform form textarea{
  background-color: var(--new-background-color);
  color: var(--new-color);
  border: 0 none;
  border-bottom: .01em solid var(--new-accent-color);
  font-weight: 500;
  margin: .5em 0 .5em 0;
  padding: .6em 0 .6em 0;
  width: 100%;
}#newform form input[type=submit]{
  background-color: var(--new-accent-color);
  color: var(--new-submit-color);
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}
#deleteform {
  --margin: calc(calc(100vw - var(--element-width)) / 2 );
  margin: 0 0 2vh 0;
  background-color: var(--delete-background-color);
  color: var(--delete-color);
}
#deleteform {
  --margin: calc(calc(100vw - var(--element-width)) / 2 );
  margin: 0 0 2vh 0;
  background-color: var(--delete-background-color);
  color: var(--delete-color);
}
#deleteform form a{
  display: block;
  background-color: var(--delete-accent-color);
  color: var(--delete-submit-color);
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  margin: .5em 0 .5em 0;
  padding: .6em 0 .6em 0;
  width: 100%;
  font-weight: 700;
  text-align:center;
}



footer {
  background-color: var(--footer-background-color);
  color: var(--footer-color);
  position: fixed;
  bottom: 0;
  height: 1.2em;
  padding: .4em;
  width:100vw;
  text-align: center;
  z-index: 1000;
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 980px){
  :root{
    --element-width: var(--element-width-mobile);
  }
  all-articles{
    position: absolute;
    top: calc(var(--header-height) + 1.5vh);
  }
  #kommentar,
  article{
    margin: 0 0 2vh 0;
  }
  menu {
    position: fixed;
    top:0;
    padding: calc(calc(var(--header-height) + 1.5vh) + 1em) 2vw 0 2vw;
    width: calc(calc(calc(100vw - var(--element-width)) / 2 ) - 8vw);
    height: 100vh;
    margin: 0;
    border-radius: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
  }
footer{
  background-color:rgba(0,0,0,0);
  color: var(--menuitem-color);
  padding: 1em 2vw 1em 2vw;
  width: calc(calc(calc(100vw - var(--element-width)) / 2 ) - 8vw);
  margin: 0;
  border-radius: 0;
  box-shadow: 0 0 0 0 ;
}
footer a {
  color: var(--menuitem-color);
}
footer a:hover {
  filter: brightness(75%);
}
}
