<!DOCTYPE html>
<html>
<head>
<title>{{.Titel}} | SuperBlog</title>
<meta name="viewport"
	content="width=device-width, initial-scale=1.0,user-scalable=no">
<link rel="stylesheet" href="../css/style.css">
<script>
function init() {
    window.addEventListener('scroll', function(e){
        var distanceY = window.pageYOffset || document.documentElement.scrollTop,
            shrinkOn = 200,
            header = document.querySelector("header");
        if (distanceY > shrinkOn) {
            document.documentElement.style.setProperty('--header-height','7vh');
						document.documentElement.style.setProperty('--header-font-size','7vmin');
        } else {
              document.documentElement.style.setProperty('--header-height','18vh');
							document.documentElement.style.setProperty('--header-font-size','12vmin');
        }
    });
}
</script>
</head>
<body>
	<script>
	window.onload = init();
	</script>
	<header>
		<a href="/">SuperBlog</a>
	</header>
	<nav>
		<menu>
			<menuitem>
			<ul>
				{{with .Menu}} {{range .}}
				<li><a href="{{.Ziel}}">{{.Text}}</a></li> {{end}} {{end}}
			</ul>
			</menuitem>
		</menu>
	</nav>
	<all-articles>
	<article>
		<h1>{{.Titel}}</h1>
		<nav>
			Von
			<author>{{.Autor}}</author>
			am
			<time>
				<script>
			datum = {{.Datum}};
			datum = datum.split('T');
			datum[0]=datum[0].split('-');
			uhrzeit=datum[1].split('.');
			document.write(datum[0][2]+'.'+datum[0][1]+'.'+datum[0][0]+' um '+uhrzeit[0]);
				</script>
				<noscript>{{.Datum}}</noscript>
			</time>
		</nav>
		{{.Inhalt}}
	</article>
	<p>
		<script>
		datum = {{.Bearbeitet}};
		datum = datum.split('T');
		datum[0]=datum[0].split('-');
		uhrzeit=datum[1].split('.');
		if(datum[0][0]!="0001")
			{
				document.write("<div id=\"kommentar\">Bearbeitet am: "+datum[0][2]+'.'+datum[0][1]+'.'+datum[0][0]+' um '+uhrzeit[0] + "</div>");
			}
			</script>
	</p>
	<article>
		<div id="kommentieren">
			<form action="">
				<input type="text" name="autor" placeholder="Nickname" id="komm" /><br>
				<textarea name="inhalt" placeholder="Kommentieren"></textarea>
				<br> <input type="submit" value="Absenden" />
			</form>
			<!--
			Inspiriert von: https://wiki.selfhtml.org/wiki/JavaScript/Tutorials/cookies
			 -->
			<script>
				  var Wert = "";
				  if (document.cookie) {
				    var Wertstart = document.cookie.indexOf("=") + 1;
				    var Wertende = document.cookie.indexOf(";");
				    if (Wertende == -1) {
				      Wertende = document.cookie.length;
					}
					Wert = document.cookie.substring(Wertstart, Wertende);
				  }
				  document.getElementById("komm").value=Wert;

			</script>
		</div>
	</article>
		{{with .Kommentare}} {{range .}}
		<div id="kommentar">
			<nav>
				<author>{{.Autor}}</author>
				schrieb am
				<time>
					<script>
			datum = {{.Datum}};
			datum = datum.split('T');
			datum[0]=datum[0].split('-');
			uhrzeit=datum[1].split('.');
			document.write(datum[0][2]+'.'+datum[0][1]+'.'+datum[0][0]+' um '+uhrzeit[0]);
				</script>
					<noscript>{{.Datum}}</noscript>
				</time>
			</nav>
			{{.Inhalt}}
		</div>
		{{end}} {{end}}
</all-articles>
	<footer>
		Siehe: <a href="https://github.com/cor-aurum/SuperBlog">Sourcecode
			auf Github</a>
	</footer>
</body>
</html>
